// Colors
$primary-theme-color: #0276FD;
$primary-theme-gradient: linear-gradient(45deg, rgba(0,0,0,1) 0%, $primary-theme-color 100%);
$primary-theme-color-light: lighten($primary-theme-color, 45%);
$primary-bg-color: white;
$secondary-theme-color: black;
$body-bg-color: lighten(lightgrey, 5%);

// Visuals
$container-shadow: 0 1px 4px 0 rgba(49, 49, 49, 0.2);

// Dimensons
$navbar-height: 60px;
$footer-height: 200px;
$footer-height-screen-sm: 330px;

// Margins, spaces
$general-space: 20px;

// Media
$screen-md-width: 1000px;
$screen-sm-width: 750px;
$screen-xs-width: 350px;

// Fonts
$h1-font-size-screen-xs: 2rem;
$h2-font-size-screen-xs: 1.4rem;

// Export variables
:export {
    screen_sm_width: 750;
  }