@import '@/style/_variables.scss';

// Theme colors
$theme-colors: (
  "primary": $primary-theme-color,
  "secondary": $secondary-theme-color
);

// Button styles
$btn-border-radius: 0;

// Mixins
@mixin h1-container {
    background: $primary-theme-gradient;
    color: white;
    margin-bottom: $general-space!important;
}

@mixin container {
    padding: $general-space;
    box-shadow: $container-shadow;
    background-color: $primary-bg-color;
}